.messenger-page-container {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--clr-background-grey);
}

.contact-list-container {
    min-width: 25%;
    border: 2px solid var(--clr-border-grey);
}

.messages-container {
    min-width: 75%;
}